[Unit]
Description=Retro TV Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/tv.sh
Restart=on-failure
User=jenny
Environment="DISPLAY=:0"
Environment="PULSE_SERVER=unix:/run/user/1000/pulse/native"

[Install]
WantedBy=multi-user.target
