[Unit]
Description=Run Retro TV Script

[Timer]
OnBootSec=1min

OnCalendar=Mon..Fri 3:00:00
OnCalendar=Mon..Fri 21:00:00
OnCalendar=Mon..Sat 0:00:00
OnCalendar=Mon..Sat 2:00:00
OnCalendar=Mon..Sat 6:00:00
OnCalendar=Mon..Sat 12:00:00
OnCalendar=Mon..Sat 15:00:00
OnCalendar=Mon..Sat 20:00:00
OnCalendar=Mon..Sun 5:00:00
OnCalendar=Mon..Sun 9:00:00
OnCalendar=Mon..Sun 18:00:00
OnCalendar=Mon..Sun 23:00:00
OnCalendar=Sat 1:00:00
OnCalendar=Sat 4:00:00
OnCalendar=Sat 19:00:00
OnCalendar=Sat 22:00:00
OnCalendar=Sun 0:00:00
OnCalendar=Sun 02:00:00
OnCalendar=Sun 6:00:00
OnCalendar=Sun 12:00:00
OnCalendar=Sun 19:00:00
OnCalendar=Sun 20:00:00

Unit=tv.service

[Install]
WantedBy=timers.target
