[Unit]
Description=Run Retro TV Script  # A short description indicating that this timer is used to run the Retro TV script.

[Timer]
OnBootSec=1min           # Starts the timer 1 minute after the system has booted.

# Weekday triggers
OnCalendar=Mon..Fri 06:00:00 # Triggers at 6 AM weekdays - morning news.
OnCalendar=Mon..Fri 09:00:00 # Triggers at 9 AM weekdays - game shows.
OnCalendar=Mon..Fri 12:00:00 # Triggers at noon weekdays - soap operas.
OnCalendar=Mon..Fri 15:00:00 # Triggers at 3 PM weekdays - cartoons.
OnCalendar=Mon..Fri 18:00:00 # Triggers at 6 PM weekdays - evening news.
OnCalendar=Mon..Fri 20:00:00 # Triggers at 8 PM weekdays - sitcoms.
OnCalendar=Mon..Fri 21:00:00 # Triggers at 9 PM weekdays - movies.
OnCalendar=Mon..Fri 23:00:00 # Triggers at 11 PM weekdays - talk shows.
OnCalendar=Mon..Fri 00:00:00 # Triggers at midnight weekdays - movies.
OnCalendar=Mon..Fri 02:00:00 # Triggers at 2 AM weekdays - infomercials.
OnCalendar=Mon..Fri 03:00:00 # Triggers at 3 AM weekdays - late-night movies.
OnCalendar=Mon..Fri 05:00:00 # Triggers at 5 AM weekdays - infomercials.

# Saturday triggers
OnCalendar=Sat 06:00:00 # Triggers at 6 AM saturdays - saturday morning cartoons.
OnCalendar=Sat 12:00:00 # Triggers at noon saturdays - sports.
OnCalendar=Sat 15:00:00 # Triggers at 3 PM saturdays - sitcoms.
OnCalendar=Sat 19:00:00 # Triggers at 7 PM saturdays - game shows.
OnCalendar=Sat 20:00:00 # Triggers at 8 PM saturdays - movies.
OnCalendar=Sat 22:00:00 # Triggers at 10 PM saturdays - sitcoms.
OnCalendar=Sat 00:00:00 # Triggers at midnight saturdays - late night show SNL.
OnCalendar=Sat 01:00:00 # Triggers at 1 AM saturdays - infomercials.
OnCalendar=Sat 02:00:00 # Triggers at 2 AM saturdays - late-night movies.
OnCalendar=Sat 04:00:00 # Triggers at 4 AM saturdays - sitcoms.

# Sunday triggers
OnCalendar=Sun 06:00:00 # Triggers at 6 AM sundays - morning news.
OnCalendar=Sun 09:00:00 # Triggers at 9 AM sundays - talk shows.
OnCalendar=Sun 12:00:00 # Triggers at noon sundays - sports.
OnCalendar=Sun 19:00:00 # Triggers at 7 PM sundays - game shows.
OnCalendar=Sun 20:00:00 # Triggers at 8 PM sundays - movies.
OnCalendar=Sun 00:00:00 # Triggers at midnight sundays - late-night movies.
OnCalendar=Sun 02:00:00 # Triggers at 2 AM sundays - sitcoms.

# Weekend triggers
OnCalendar=Sat,Sun 18:00:00 # Triggers at 6 PM weekends - evening weekend news.
OnCalendar=Sat,Sun 23:00:00 # Triggers at 11 PM weekends - evening weekend news.
OnCalendar=Sat,Sun 05:00:00 # Triggers at 5 AM weekends - infomercials.


Unit=tv.service          # Specifies the service unit that this timer will trigger (tv.service).

[Install]
WantedBy=timers.target    # Ensures the timer is started as part of the system’s timer management.
